In [40]:
import csv 
import pandas as pd
from sklearn.linear_model import LinearRegression
import pickle

In [41]:
## TODO

#1 Handle NaN values.
#2 Converting non-numeric data to numeric

In [42]:
data = pd.read_csv('hiring.csv')

In [43]:
data.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [44]:
data['experience'].fillna(0, inplace=True)
data['test_score'].fillna(0, inplace=True)

In [45]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [46]:
# Selecting Features 
X = data.iloc[:,:3]

In [47]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [48]:
y = data.iloc[:,-1]

In [49]:
regressor = LinearRegression()

In [50]:
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [51]:
pickle.dump(regressor, open('model.pkl','wb'))

In [52]:
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[52688.25222797]